body {
    font-family: 'Poppins', sans-serif;
}

section {
    /* height: auto; */
    /* background-color: rgb(255, 255, 249); */
    background-color:#FCFCF0;
    /* border: dashed #CDD7CA 1px; */
}

.hero-section {
    height: 100vh;
    /* background-color: #1c1d25; */
    color: whitesmoke;
    font-size: 40px;
    background-image: url('../src/images/background.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
}

.aboutme-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.project-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

li a, .button a {
    /* width: 200px; */
    text-decoration: none ;
    color: white;
}

h2 {
    font-size: 3.125rem;
}

p {
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}

@media only screen and (max-width: 8000px) {
   
  }

@media only screen and (max-width: 1000px) {
    /* body {
      background-color: lightblue;
    } */
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
  }



/* MAIN HERO SECTION ---------->>>>>>>>>>>*/

.logo {
    height: 70px;
    margin: 30px;
    border-radius:  30%;
    position: relative;
    right: -0.25em;
    top: 6px;
    z-index: 9999;
}


nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: 65px;
    width: 98.5%;
    background-color: #2A1406;
    /* box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205); */
    z-index: 999;
    transition: background 1s ease;
    opacity: 80%;
    top: 10px;

}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 1.4rem;
    position: relative;
    left: -1em;
    margin-bottom: 0px;
    top: -8px;
}

ul li {
    border-radius: 100px;
}


.hero-area {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
    position: relative;
    left: -0.9em;
}

h1 {
    font-size: 5rem;
    margin: 0px;
}

.hero-text h1 {
    margin-bottom: -25px;
}


.hero-text p {
    font-size: 1.8rem;
    
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #DF7241;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover, .socials svg:hover, nav ul li:hover{
    /* background-color: #f0774e; */
    cursor: pointer;
    border-color: #F9F871;
    color: white;
    box-shadow: 0 0.7em 1em -0.5em #F9F871;
    transform: translateY(0.3em);
}

.button:active {
    background-color: #A9a9a9;
    color: #808080;
}

/* ABOUT ME SECTION ---------->>>>>>>>>>>*/

.headshot {
    width: 300px;
    border-radius: 180px;
    margin-right: 60px;
    position: relative;
    left: -25px;
}

.headshot-container {
    display: flex;
    align-items: center;
    margin-right: -20px;
}

.about-me p {
    margin: 0px;
    font-size: 1.375rem;
    font-weight: 300;
    color: #303027;
}

.about-me h3 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.875rem;
    font-weight: 300;
}

.about-me h2, .about-me h3  {
    color: #5E5E54;
}

.about-me .tech-text {
    padding: 7px;
    /* font-size: 10px; */
    /* font-weight: 300; */
}



/* PROJECT SECTION  ---------->>>>>>>>>>>*/
.project-section h2 {
    font-size: 50px;
    color: #5E5E54;
}

.project-section .sub-head{
    font-size: 30px;
    text-align: left;
}

.project-card {
    width: 300px;
    /* height: 500px; */
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    padding-bottom: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.sub-text{
    font-size: 15px;
    font-weight: 300;
    color: #303027;
}

.project-image{
    margin-top: 10px;
    width: 250px;
    border-radius: 125px ;
}

.project-card hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
    text-decoration: none;
    color: #00AD96;
}

.project-link:hover{
   color: #FFB992;
}


/* FOOTER SECTION ---------->>>>>>>>>>>*/
footer{
    padding: 10px;
    padding-bottom: 40px;
    background-color: #2A1406;
    color: white;
    text-align: center;
}


footer h2 {
    font-size: 2rem;
    margin: 10;
    font-weight: 300;
}

footer .socials{
    display: flex;
    justify-content: center;
    margin: 0px;  
    
}

footer .social {
    margin: 30px;
    border-radius: 100px;
}

